.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container_footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .footer .container_footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer .container_footer .wrapper_max {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 6px;
}
@media (max-width: 980px) {
  .footer .container_footer .wrapper_max {
    width: 90%;
    padding-top: 400px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
}
.footer .container_footer .wrapper_max .logo {
  padding-left: 20px;
  margin-top: -44px;
}
.footer .container_footer .wrapper_max p {
  font-size: 16px;
  font-family: "Poppins-Regular";
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  padding-left: 20px;
  width: 65%;
  margin-bottom: 40px;
}
@media (max-width: 980px) {
  .footer .container_footer .wrapper_max p {
    padding: 0px;
  }
}
@media (max-width: 320px) {
  .footer .container_footer .wrapper_max p {
    width: 100%;
  }
}
.footer .container_footer .wrapper_max .logo {
  width: 44%;
  display: flex;
  justify-content: start;
  font-family: "Poppins-Regular";
  font-weight: 900;
  font-size: 24px;
  padding-top: 3px;
}
@media (max-width: 980px) {
  .footer .container_footer .wrapper_max .logo {
    width: 80%;
    padding: 0px;
    justify-content: center;
  }
}
.footer .container_footer .wrapper_max .logo img {
  width: 28px;
  height: 28px;
  padding-right: 13px;
  padding-top: 5px;
}
.footer .container_footer .wrapper_max .social {
  width: 38.5%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  border-bottom: 1px solid transparent;
}
@media (max-width: 980px) {
  .footer .container_footer .wrapper_max .social {
    width: 80%;
  }
}
.footer .container_footer .wrapper_max .social a {
  cursor: pointer;
  border: 1px solid transparent;
}
.footer .container_footer .wrapper_max .social a:hover {
  border-bottom: 1px solid orange;
}
.footer .container_footer .wrapper_box {
  width: 21%;
  display: flex;
  justify-content: center;
}
@media (max-width: 980px) {
  .footer .container_footer .wrapper_box {
    width: 33%;
  }
}
@media (max-width: 640px) {
  .footer .container_footer .wrapper_box {
    width: 90%;
  }
}
.footer .container_footer .wrapper_box .footer_box {
  padding-left: 65px;
  padding-top: 39px;
}
@media (max-width: 980px) {
  .footer .container_footer .wrapper_box .footer_box {
    padding: 0px;
  }
}
@media (max-width: 320px) {
  .footer .container_footer .wrapper_box .footer_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
}
.footer .container_footer .wrapper_box .footer_box ul {
  padding: 0px;
}
.footer .container_footer .wrapper_box .footer_box ul li {
  list-style-type: none;
  font-size: 21px;
  font-family: "Poppins-Regular";
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: black;
}
@media (max-width: 980px) {
  .footer .container_footer .wrapper_box .footer_box ul li {
    font-size: 18px;
    line-height: 25px;
  }
}
.footer .container_footer .wrapper_box .footer_box ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins-Regular";
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #323232;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
}
.footer .container_footer .wrapper_box .footer_box ul li a:hover {
  border-bottom: 1px solid orange;
}
@media (max-width: 980px) {
  .footer .container_footer .wrapper_box .footer_box ul li a {
    white-space: nowrap;
  }
}
@media (max-width: 320px) {
  .footer .container_footer .wrapper_box .footer_box ul {
    text-align: center;
    padding: 0px;
  }
}/*# sourceMappingURL=footer.css.map */