body {
    margin: 0px;
    padding: 0px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 29px 11px;

    .container {
        width: 77%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
}

.logo {
    width: 44%;
    display: flex;
    justify-content: start;
    font-family: "Poppins-Regular";
    font-weight: 900;
    font-size: 24px;
    padding-top: 3px;
    cursor: pointer;

    img {
        width: 28px;
        height: 28px;
        padding-right: 0px;
        
    }

    a {
        cursor: pointer;
    }
}

nav {
    width: 54%;
    transition: 0.5s;

    @media (max-width:1130px) {
        display: none;
    } 
    
    #nav-icon7 {
        @media (min-width:1130px) {
            display: none;
            justify-content: end;
        } 
    }

    ul {
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        transition: 0.5s;

        li {
            list-style-type: none;
        
            a {
                text-decoration: none;
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 400;
                padding-top: 2px;
                padding-left: 2px;
                color: #323232;
                transition: 0.3s;

                &:hover {
                    color:#F78434;
                }
            }
        }
    }
}
