.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.section_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 80%;
        display: flex;

        @media (max-width:768px) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        } 
    }
     
   
    .find {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        
        @media (max-width:900px) {
           width: 55%;
           padding: 0px;
        }

        @media (max-width:768px) {
            align-items: center;
            width: 100%;
            justify-content: center;
            text-align: center;
        }  
    }
       
    h1 {
        font-size: 54px;
        font-family: "Poppins-Regular";
        font-weight: 700;
        width: 120%;
        margin: 0px;
        margin-top: -7px;
        line-height: 1.44;
        word-spacing: -1px;
        z-index: 999;
        letter-spacing: 0.8px;
        margin-bottom: 11px;

        @media (max-width:1250px) {
            font-size: 48px;
        }

        @media (max-width:1024px) {
            font-size: 40px;
        }

        @media (max-width:950px) {
            font-size: 35px;
        }

        @media (max-width:900px) {
            font-size: 24px;
        }

        @media (max-width:768px) {
            z-index: 0px;
            width: 100%;
        }

       
    }
    
    p {
        font-size: 16px;
        font-family: "Poppins-Regular";
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 1.09px;
        padding: 0px;
        width: 90%;
        padding-bottom: 3px;

        @media (max-width:1250px) {
            font-size: 12px;;
        }
    }
    
    .request {
        width: 90%;
        padding-top: 22px;
        padding-bottom: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:1250px) {
            width: 90%;
        }
        @media (max-width:800px) {
            width: 100%;
            padding: 0px;
        }

        form {
            width: 100%;
            display: flex;
            align-items: center;

            @media (max-width:900px) {
                justify-content: start;;
             }

            @media (max-width:950px) {
                padding: 10px 31px;
            }

            @media (max-width:900px) {
                width: 80%;
                padding: 0px;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
            }

             @media (max-width:768px) {
                display: flex;
                align-items: center;
                width: 80%;
                flex-wrap: nowrap;  
                justify-content: center;
                margin-bottom: 20px;           
            }

             @media (max-width:555px) {
                width: 80%;
                padding: 0px;
                flex-wrap: wrap;
                margin-right: 0px;
                align-items: center;
                justify-content: center;
            }

            img {
                padding-left: 27px;

                @media (max-width:900px) {
                    padding: 5px;
                    margin-bottom: 5px;
                }
            }
        }
        
        input {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            border: none;
            text-align: start;
            padding-left:21px;
            padding-right: 27px;

            @media (max-width:900px) {
                padding-right: 5px;
                margin-bottom: 5px;
                text-align: center;
            }

             @media (max-width:555px) {
            text-align: center;
            }
        }

        .btn {
            
            @media (max-width:900px) {
                padding: 10px 41px;
                margin: 0px;
                width: 100%;
            }
        
            @media (max-width:800px) {
                margin-right: 0px;
                width: 80%;
            }

             @media (max-width:42px) {
                padding: 10px 41px;
                width: 100%;
            }
        }
    }
    

    .building_img {
        width: 70%;
       
        @media (max-width:950px) {
            width: 70%;
        }

        .bild_img {
            @media (max-width:1190px) {
            width: 100%;
            }

            @media (max-width:768px) {
                margin-bottom: 20px;
                border-radius: 20px;
            }
        }

        @media (max-width:1024px) {
            width: 90%;
        }

        @media (max-width:900px) {
            width: 65%;
        }
    }

}

.btn {
    font-size: 16px;
    font-family: "Poppins-Regular";
    font-weight: 700;
    text-align: center;
    border: none;
    padding: 17px 38px;
    border-radius: 50px;
    background-color: #F78434;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: #323232;
    }
    @media (max-width:1310px) {
        margin-right: 10px;;
    }

    @media (max-width:1190px) {
        margin-right:10px;
    }

    @media (max-width:950px) {
        padding: 10px 31px;
    }

    @media (max-width:900px) {
        padding: 18px 27px;
        font-size: 12px;
    }
}

.section_best_place {
    margin-bottom: 139px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;   
    }

    @media (max-width:1250px) {
        margin-bottom: 30px;
    }

    @media (max-width:720px) {
       margin-bottom: 80px;
    }

    @media (max-width:320px) {
      margin-bottom: 30px;
         
    }
    
    .wrapper_partners {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .partners {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 97px;
        margin-bottom: 99px;

        @media (max-width:1250px) {
            margin-bottom: 30px;
            padding-top: 20px;
        }

        @media (max-width:900px) {
            padding-top: 20px;
        }

        img {
            width: 20%;

            @media (max-width:1024px) {
                width: 40%;
                padding: 15px;
            }
        }

        @media (max-width:1024px) {
            width: 100%;
            flex-wrap: wrap;
        }
       
        @media (max-width:430px) {
            justify-content: center;
            align-items: center;
        }  
    }

    .box_place {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media (max-width:900px) {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }  

            .img_place {
                width: 52%;
                display: flex;
                margin-left: -10px;
                justify-content: space-evenly;
                border-radius: 50px;
                
                @media (max-width:1100px) {
                    width: 80%;
                    display: flex;

                @media (max-width:900px) {
                    margin: 0px;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
    
                @media (max-width:720px) {
                    margin: 0px;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
            
                 
                img {
                    padding-right: 20px;
  
                    @media (max-width:1190px) {
                        width: 60%;
                        height: 60%;
                        border-radius: 80px;
                        padding-left: 20px;
                    }

                    @media (max-width:930px) {
                        width: 50%;
                        height: 400px;
                    }
    
                    @media (max-width:720px) {
                        width: 45%;
                        height: 300px;
                        border-radius: 40px;
                        padding: 0px;
                        margin: 0px;          
                    }
    
                    @media (max-width:320px) {
                        height: 200px;
                    }
                }
            }               
        }        
    }

    .for_you {
        width: 38%;

        @media (max-width:1100px) {
            width: 60%;
            font-size: 35px;
        }
        @media (max-width:930px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            font-size: 35px;
            padding-left: 20px;
        }

        @media (max-width:900px) {
            width: 100%;
        }

        @media (max-width:740px) {
            width: 100%;
            margin-left: 30px;
        }

        @media (max-width:720px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 0px;
        }

        .btn {
           display: flex;
           justify-content: center;
           align-items: center;
           width: 33%;
           margin-top:38px;
           margin-left: 3px;

           @media (max-width:1400px) {
            width: 50%;
           }
           
            @media (max-width:930px) {
                margin: 0px;
                margin-bottom: 20px;
                width: 80%;
            }

            @media (max-width:768px) {
                width: 100%;
            }

            @media (max-width:320px) {
            padding: 10px 41px;
            }

        }

        p {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.09px;
            width: 80%;
            margin-bottom: 13px;
            padding-left: 8px;
            padding-top: 5px;
            width: 69%;

            @media (max-width:1350px) {
                width: 100%;
                padding-left: 50px;
                padding-top: 10px;
                margin: 0px;
                width: 100%;
                margin-bottom: 20px;
            }

            @media (max-width:1250px) {
                padding-left: 50px;
            }

            @media (max-width:1100px) {
                font-size: 14px;
                margin-left: 10px;
                margin-bottom: 0px;
            }

            @media (max-width:930px) {
                padding-left: 10px;
                margin: 0px;
                margin-right: 0px;
                width: 100%;
                font-size: 12px;
            }

            @media (max-width:720px) {
                padding-bottom: 20px;;
            }   
        }

        h2 {
            width: 73%;
            font-size: 42px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            letter-spacing: 0.8px; 
            padding-top: 21px;  
            padding-left: 10px;
            margin-bottom: 0px;

            @media (max-width:1350px) {
                width: 100%;
                padding-left: 50px;
                padding-top: 10px;
                margin: 0px;
            }

            @media (max-width:1100px) {
            font-size: 35px;
            }

            @media (max-width:1100px) {
                font-size: 24px;
            }
            @media (max-width:930px) {
                padding-left: 10px;
                padding-top: 5px;
                margin-top: 0px;
                text-align: center;
            }
    
        }
    }  
}

.section_product {
    
    display: flex;
    border-radius: 20px;
    position: relative;
    z-index: 999;
    margin-bottom: -233px;
    width: 100%;
    justify-content: center;

    .container {
        width: 77%;
        display: flex;
        background-color: #58BEBF;
        border-radius: 20px;
    }

    @media (max-width:768px) {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }  

    @media (max-width:425px) {
      width: 90%;
    }

    .statistic {
        width: 55%;
        background: url(/img/Image\ best.png);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background: no-repeat;
        padding: 0px;
        
        @media (max-width:768px) {
            padding: 0px;
            padding-top: 20px;
            width: 100%;
        }     

        img {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 98%;
            padding-top: 40px;
            height: 92%;

            @media (max-width:700px) {
             width: 40%;
            }  
        }
    }

    .you_product {
        width: 45%;
    
        @media (max-width:900px) {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        } 

         @media (max-width:768px) {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }  

        h2 {
            font-size: 42px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            letter-spacing: 0.8px; 
            color: white;
            padding-left: 40px;
            padding-top: 57px;
            margin-bottom: 16px;
            
            @media (max-width:1100px) {
               font-size: 35px;
               padding-top: 20px;
               margin-top: 0px;
               padding-left: 40px;
            } 
            
            @media (max-width:900px) {
                font-size: 24px;
                padding: 0px;
                padding-top: 20px;
                width: 80%;
                margin-bottom: 20px;
            } 

            @media (max-width:700px) {
                margin-top: 0px;
                padding: 0px;
                width: 100%;
            }  
        }

        p {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.15px;
            color:white;
            padding-left: 40px;
            margin-bottom: 28px;
            margin-top: 0px;
            width: 60%;

            @media (max-width:900px) {
                font-size: 14px;
                width: 100%;
                padding: 0px;
                margin: 0px;
                margin-bottom: 20px;
            } 

            @media (max-width:700px) {
                margin-top: 0px;
                padding: 0px;
                width: 100%;
            }  
        }

        .box_btn {
            width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
     
            @media (max-width:1230px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @media (max-width:768px) {
                display: flex;
                justify-content: space-between;
                margin-top: 0px;
                padding: 0px;
            }  

             @media (max-width:425px) {
                width: 100%;
            }

            .btn {
               width: 40%;
               margin-bottom: 10px;
               margin-right: 0px;
               margin: 5px;

                @media (max-width:1230px) {
                    padding: 17px;
                    width: 60%;
                } 

                @media (max-width:1100px) {
                    padding: 17px 37px;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60%;
                } 

                @media (max-width:425px) {
                    width: 80%;
                }
            }


            .btn_white {
                cursor: pointer;
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                text-align: center;
                border: none;
                padding: 17px;
                border-radius: 50px;
                background-color: white;
                color:black;
                transition: 0.3s;
                white-space:nowrap;
                border: 1px solid transparent;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;

                &:hover {
                    color: #F78434;
                    border: 1px solid orange;
                    border-radius: 50px;
                }

                img {
                    padding-right: 4px;
                }

                @media (max-width:1230px) {
                    width: 60%;
                    margin: 0px;
                    margin-bottom:5px;
                } 

                @media (max-width:1100px) {
                    padding: 17px 37px;
                    width: 60%;
                } 

                @media (max-width:900px) {
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                } 

                @media (max-width:425px) {
                    width: 80%;
                }

            }
            
        }
    }

}

.section_grey {
    width: 100%;
    height: 704px;
    background-color: #F5F6FA;
    display: flex;
    justify-content: center;
    margin-bottom: -182px;
    
    .container {
        text-align: center;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        font-size: 42px;
        font-family: "Poppins-Regular";
        font-weight: 700;
        letter-spacing: 0.8px; 
        color: black;
        padding-top: 149px;
        margin: 0px;

        @media (max-width:320px) {
            font-size: 28px;;
        }
  
        @media (max-width:1100px) {
            width: 100%;
            padding-top: 20px;
        }
    }

    p {
        font-size: 16px;
        font-family: "Poppins-Regular";
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 1.15px;
        color:black;
        margin: 0px;
        padding-top: 9px;
    }
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containers {
    width: 100%;
    position: relative;
    z-index: 999;
    display: flex;
    margin-bottom: 112px ;
    justify-content: center;

    @media (max-width:1250px) {
        margin-bottom: 30px;    
    }  

    .container {
        width: 78%;
        display: flex;
        justify-content: space-between;
    
        @media (max-width:1024px) {
            margin-bottom: 20px;
        }

        @media (max-width:690px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        } 
    }
    
    .box_bayers {
        width: 49%;
        height: 365px;
        display: flex;
        justify-content: center;

        @media (max-width:690px) {
            width: 80%;
            margin-bottom: 20px;
            justify-content: center;
        }  

        @media (max-width:425px) {
            width: 100%;
        }  
       
        .bayer {
            width: 97.2%;
            background-color: #F78434;
            border-radius: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            
            img {
                padding-top: 40px;
                margin: 0px;
                margin-bottom: 15px;
            }
            
            h2 {
                font-size: 42px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                letter-spacing: 0.8px; 
                color:white;
                margin: 0px;
                margin-bottom: -14px;

                @media (max-width:425px) {
                 font-size: 30px;
                }  
            }

            p {
                width: 65%;
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 1.15px;
                color:white;
                margin-bottom: 22px;

                @media (max-width:430px) {
                    font-size: 14px;
                }  
            }

            .btn_white {
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                text-align: center;
                border: none;
                padding: 17px 40px;
                border-radius: 50px;
                background-color: white;
                color:#F78434;
                cursor: pointer;
                transition: 0.3s;
                border:  1px solid transparent;

                &:hover {
                    color: #323232;
                    border: 1px solid orange;
                }

                @media (max-width:425px) {
                    width: 80%;
                 }
            }
        }
    }

    .box_seller {
        width: 49%;
        height: 365px;
        display: flex;
        justify-content: center;
    
        @media (max-width:690px) {
            width: 80%;
            margin-bottom: 20px;
            justify-content: center;
        }  

        @media (max-width:430px) {
            width: 100%;
        }  

        .seller {
            width: 97.2%;
            background-color: white;
            border-radius: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            border: 2px solid orange;

            img {
                padding-top: 40px;
                margin: 0px;
                margin-bottom: 15px;
            }
            
            h2 {
                font-size: 42px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                letter-spacing: 0.8px; 
                color:black;
                margin: 0px;
                margin-bottom: -14px;

                @media (max-width:430px) {
                    font-size: 30px;
                }  
            }

            p {
                width: 65%;
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 1.15px;
                color:black;
                margin-bottom: 22px;
                border-radius: 50px;

                @media (max-width:430px) {
                    font-size: 14px;
                }  
            }

            .btn_white {
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                text-align: center;
                padding: 17px 40px;
                border-radius: 50px;
                background-color: white;
                color:#F78434;
                border:  1px solid orange;
                cursor: pointer;
                &:hover {
                    color: #323232;
                }

                @media (max-width:690px) {
                   box-sizing: border-box;
                   border: 1px solid orange;
                    border-radius: 50px;
                    margin-bottom: 20px;
                }

                @media (max-width:425px) {
                    width: 80%;

                 }
            }
        }

    }
}

.section_why_choose {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 169px;

    .container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width:900px) {
            width: 90%;     
        }  

    }

    
    @media (max-width:1400px) {
        margin-bottom: 80px;;
    }

    h2 {
        font-size: 42px;
        font-family: "Poppins-Regular";
        font-weight: 700;
        letter-spacing: 0.8px; 
        color:black;
        margin: 0px;
        margin-bottom: 57px;

        @media (max-width:320px) {
            font-size: 28px;;
        }
    }

    .wrappers {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width:900px) {
            justify-content: center;
        }  


    }

    .wrapper_box {
        text-align: center;
        width: 25%;
        
        @media (max-width:860px) {
            width:45%;
            margin-bottom: 20px;
            padding: 10px;
        } 

        @media (max-width:530px) {
            width:75%;
            margin-bottom: 20px;
            border: 2px solid orange;
            border-radius: 20px;
        } 

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            img {
                margin-bottom: 19px;
                border-radius: 50px;
                transition: 0.3s;

                @media (max-width:530px) {
                    padding-top: 10px;
                } 

                &:hover {
                    box-shadow: 0px 0px 5px 10px orange;
                }
            }

            svg {
                margin-bottom: 19px; 
                border-radius: 50px;
                transition: 0.3s;
                &:hover {
                    box-shadow: 0px 0px 5px 10px orange;
                }

                @media (max-width:530px) {
                    padding-top: 10px;
                } 
            }
        

            h3 {
                font-size: 28px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                line-height: 42px;
                letter-spacing: 0.5px;
                color: #323232;
                padding: 0px;
                margin: 0px;

                @media (max-width:1190px) {
                font-size: 20px;;
                } 
            
            }

            p {
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 1.15px;
                color:#323232;
                padding: 0px;
                margin: 0px;

                @media (max-width:1190px) {
                    font-size: 14px;;
                } 
            }

            .first{
                padding-left: 5px;
            }

            .second {
                padding-left: 7px; 
            }
        }
    }  
}

.section_thanks {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 57px;

    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:592px) {
         flex-direction: column;
          text-align: center;
         justify-content: center;
        } 

        h2 {
            text-align: start;
            width: 60%;
            font-size: 42px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            letter-spacing: 0.8px; 
            color:#323232;
            margin: 0px;
          
            @media (max-width:768px) {
                font-size: 30px;;
              
            } 

            @media (max-width:592px) {
                width: 100%;;
                font-size: 25px;
                text-align: center;                
            } 
        }

        p {
            width: 40%;
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.15px;
            color:#323232;
            padding-left: 50px;

            @media (max-width:768px) {
                font-size: 14px;
                width: 100%;
                margin: 0px;
                padding: 0px;
              
            } 
        }
    }
}

.section_reviews {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 125px;

    .container_reviews {
        width: 80%;
    }

    .box_reviews {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;

        @media (max-width:320px) {
            width: 100%;
        }
    }

    .reviews {
        width: 90%;
        margin: 0px;
        
        img {
            width: 100%;
            margin-bottom: 12px;
            margin-left: 4%;
        }

        p {
            width: 80%;
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.15px;
            color:#323232;
            padding-left: 30px;

            @media (max-width:320px) {
                font-size: 12px;
                margin: 0px;
            }
        }

        h4 {
            font-size: 18px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.1px;
            color:#323232;
            padding: 0px;
            padding-left: 30px;
            margin-bottom: 0px;

            @media (max-width:320px) {
                font-size: 16px;
                padding: 0px;
                margin: 0px;
            }
        }

        .name {
            width: 80%;
            font-size: 18px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            padding-left: 30px;
            color: #58BEBF;
            transition: 0.3s;

            &:hover {
                color: #F78434;
            }
        }
    }
}

.section_exert {
    position: relative;
    width: 100%;
    background: url(/img/Bglast.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
   

    .girl {
        position: absolute;
        bottom: 0px;
        right:266px;

        @media (max-width:1410px) {
            width: 40%;
            bottom: 0px;
            right:150px;
        } 
   
        @media (max-width:1049px) {
            width: 30%;
            bottom: 0px;
            right:50px;
        } 

        @media (max-width:450px) {
           right: 0px;
        } 
        
    }

    .expert {
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
    
        .expert_box {
            width: 30%;
            padding-left: 22px;
            padding-top: 96px;

            
            @media (max-width:1410px) {
             width: 50%;
            }  

            @media (max-width:621px) {
                width: 60%;
               } 

               @media (max-width:450px) {
                width: 80%;
               } 
        }
        
        .btn_whites {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            text-align: center;
            border: none;
            padding: 17px 41px;
            border-radius: 50px;
            background-color: white;
            color:#323232;
            transition: 0.3s;
            margin-bottom: 40px;
            cursor: pointer;
            &:hover {
                color:#F78434;
            }

            @media (max-width:768px) {
                padding: 10px 31px;
            } 

              @media (max-width:621px) {
                font-size: 12px;;
            } 
        }

        h2 {
            text-align: start;
            font-size: 42px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            letter-spacing: 0.8px; 
            color:white;
            margin: 0px;

            @media (max-width:868px) {
             font-size: 30px;
            } 

            @media (max-width:621px) {
                font-size: 24px;
               } 
           }
        

         P {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.07px;
            color:white;
            margin-bottom: 29px;

            @media (max-width:768px) {
              font-size: 14px;
            } 
         }
    }
}

h2 {
    @media (max-width:425px) {
        padding: 10px 20px;
    }
}
