.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    .container {
        width: 77%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
}

.section_title {
    display: flex;
    justify-content: space-between;
     
    @media (max-width:768px) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }

    .find {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        @media (max-width:900px) {
           width: 55%;
        }

        @media (max-width:768px) {
            align-items: center;
            width: 100%;
            justify-content: center;
            text-align: center;
        }  
    }
       
    h1 {
        font-size: 54px;
        font-family: "Poppins-Regular";
        font-weight: 700;
        width: 120%;
        margin: 0px;
        margin-top: -7px;
        line-height: 1.44;
        word-spacing: -1px;
        z-index: 999;
        letter-spacing: 0.8px;
        margin-bottom: 11px;

        @media (max-width:1250px) {
            font-size: 48px;
        }

        @media (max-width:1024px) {
            font-size: 40px;
        }

        @media (max-width:950px) {
            font-size: 35px;
        }

        @media (max-width:900px) {
            font-size: 24px;
        }

        @media (max-width:768px) {
            z-index: 0px;
            width: 100%;
        }

       
    }
    
    p {
        font-size: 16px;
        font-family: "Poppins-Regular";
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 1.09px;
        padding: 0px;
        width: 90%;
        padding-bottom: 3px;

        @media (max-width:1250px) {
            font-size: 12px;;
        }
    }
    
    .request {
        width: 90%;
        padding-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:1250px) {
            width: 70%;
        }
     
    
        form {
            display: flex;
            align-items: center;

            @media (max-width:900px) {
                justify-content: start;;
             }

            @media (max-width:950px) {
                padding: 10px 31px;
            }

            @media (max-width:900px) {
                width: 45%;
                padding: 0px;
                flex-wrap: wrap;
            }

             @media (max-width:768px) {
                display: flex;
                align-items: center;
                width: 80%;
                flex-wrap: nowrap;  
                justify-content: center;
                margin-bottom: 20px;           
            }

             @media (max-width:555px) {
                width: 45%;
                padding: 0px;
                flex-wrap: wrap;
                margin-right: 0px;
                align-items: center;
                justify-content: center;
            }

            img {
                padding-left: 27px;
                padding-right: 17px;

                @media (max-width:900px) {
                    padding: 5px;
                    margin-bottom: 5px;
                }
            }
        }
        
        input {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            border: none;
            padding-right: 27px;
            text-align: start;

            @media (max-width:900px) {
                padding-right: 5px;
                margin-bottom: 5px;
            }

             @media (max-width:555px) {
            text-align: center;;
            }
        }

        .btn {
            @media (max-width:555px) {
                margin-right: 0px;
            }

             @media (max-width:320px) {
                padding: 10px 41px;
            }
        }
    }
    

    .building_img {
        @media (max-width:950px) {
            width: 60%;
        }

        .bild_img {
            @media (max-width:1190px) {
            width: 100%;
            }

            @media (max-width:768px) {
                margin-bottom: 20px;
                border-radius: 20px;
            }
        }

        @media (max-width:1024px) {
            width: 90%;
        }

        @media (max-width:900px) {
            width: 65%;
        }
    }

}

.btn {
    font-size: 16px;
    font-family: "Poppins-Regular";
    font-weight: 700;
    text-align: center;
    border: none;
    padding: 17px 38px;
    border-radius: 50px;
    background-color: #F78434;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: #323232;
    }
    @media (max-width:1310px) {
        margin-right: 10px;;
    }

    @media (max-width:1190px) {
        margin-right:10px;
    }

    @media (max-width:950px) {
        padding: 10px 31px;
    }

    @media (max-width:900px) {
        padding: 18px 27px;
        font-size: 12px;
    }

  
    
}

.section_best_place {
    margin-bottom: 145px;
    position: relative;
 
    @media (max-width:720px) {
       margin-bottom: 80px;;
    }

     @media (max-width:320px) {
      margin-bottom: 30px;
         
    }

        .img_place {
            display: flex;
            margin-left: -16%;

            @media (max-width:1100px) {
                width: 50%;
            

            @media (max-width:720px) {
                margin: 0px;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        
        
            img {
                padding-left: 10px;
                padding-right: 23px;
                
                @media (max-width:1190px) {
                    width: 70%;
                    height: 70%;
                }

                @media (max-width:930px) {
                    width: 60%;
                    height: 60%;
                }

                @media (max-width:720px) {
                width: 45%;
                height: 300px;
                border-radius: 40px;
                padding: 0px;
                margin: 0px;
                    
                }

                @media (max-width:320px) {
                    height: 200px;
                }

            }

            .for_up {
                display: none;
                position: absolute;
                bottom: 83px;
                right:  290px;

                @media (max-width:1190px) {
                    bottom: 45px;
                    right:  416px;
                }

                @media (max-width:1190px) {
                    bottom: 30px;
                    right:  416px;
                }

                @media (max-width:720px) {
                    padding-left: 29px;
                display: none;
                    width: 100px;
                    height: 100px;
                }

            }
            
        }

        .partners {
            display: flex;
            justify-content: space-between;
            padding-top: 97px;
            margin-bottom: 99px;

            @media (max-width:900px) {
                padding-top: 20px;
            }

            img {
                width: 20%;

                @media (max-width:1024px) {
                    width: 40%;
                    padding: 15px;
                }
            }

            @media (max-width:1024px) {
                width: 100%;
                flex-wrap: wrap;
            }

            
            @media (max-width:430px) {
                justify-content: center;
                align-items: center;
            }  
        }

        .box_place {
            display: flex;
            justify-content: space-between;

            @media (max-width:720px) {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }     
        }

        h2 {
            font-size: 42px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            letter-spacing: 0.8px; 
            padding-left: 157px; 
            padding-top: 33px;  
            margin-bottom: 20px; 

            @media (max-width:1250px) {
                padding-left: 50px;
            }

            @media (max-width:1100px) {
            font-size: 35px;
            }

            @media (max-width:1100px) {
                font-size: 24px;
            }
            @media (max-width:930px) {
                padding-left: 10px;
                padding-top: 5px;
                margin-top: 0px;
            }

            
        }

        .for_you {
            width: 50%;

            @media (max-width:1100px) {
                width: 60%;
                font-size: 35px;
            }

            @media (max-width:740px) {
                width: 40%;
                margin-left: 30px;
            }

            @media (max-width:720px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 0px;
            }

            .btn {
                margin-left: 90px;

                @media (max-width:900px) {
                    padding-left: 29px;
                }

                @media (max-width:900px) {
                    margin: 0px;
                    margin-bottom: 20px;
                }

                @media (max-width:320px) {
                padding: 10px 41px;
                }

            }
        }

        
        p {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.15px;
            width: 80%;
            padding-left: 157px;
            margin-bottom: 20px;

            @media (max-width:1250px) {
                padding-left: 50px;
            }

            @media (max-width:1100px) {
                font-size: 14px;
                margin-left: 10px;
            }

            @media (max-width:930px) {
                padding-left: 10px;
                margin: 0px;
                margin-right: 0px;
                width: 100%;
                font-size: 12px;
            }

            @media (max-width:720px) {
                padding-bottom: 20px;;
            }   
        }

        .btn {
            margin-left: 159px;
            margin-top: 20px;

            @media (max-width:1250px) {
                padding-left: 50px;
            }

            @media (max-width:320px) {
                padding: 10px 41px;
            }
        }
    }
}

.section_product {
    background-color: #58BEBF;
    display: flex;
   
    border-radius: 20px;
    position: relative;
    z-index: 999;
    margin-bottom: -233px;

    
    @media (max-width:700px) {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }     

    .statistic {
        width: 50%;
        background: url(/img/Image\ best.png);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background: no-repeat;

        @media (max-width:700px) {
            padding-top: 20px;
            width: 100%;
        }     

   
        img {
            width: 130%;

            @media (max-width:700px) {
             width: 40%;
            }  
        }
    }

    .you_product {


        @media (max-width:900px) {
            width: 60%;
        } 

         @media (max-width:700px) {
            text-align: center;
        }  

        h2 {
            font-size: 42px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            letter-spacing: 0.8px; 
            color: white;
            padding-left: 96px;
            padding-top: 58px;
            margin-bottom: 10px;

            @media (max-width:1100px) {
               font-size: 35px;
               padding-top: 20px;
               margin-top: 0px;
               padding-left: 80px;
            } 

            
            @media (max-width:900px) {
                font-size: 24px;
                padding-top: 40px;
                width: 80%;
                padding-left: 80px;
            } 

            @media (max-width:700px) {
                margin-top: 0px;
                padding: 0px;
                width: 100%;
            }  
        }

        p {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.15px;
            color:white;
            padding-left: 95px;
            margin-bottom: 28px;

            @media (max-width:900px) {
                margin-bottom: 10px;
                font-size: 14px;
                padding-left: 70px;
                width: 80%;
                padding-right: 20px;
            } 

            @media (max-width:700px) {
                margin-top: 0px;
                padding: 0px;
                width: 100%;
            }  
        }

        .box_btn {
            padding-left: 99px;

            
            @media (max-width:1230px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @media (max-width:1130px) {
              padding-left: 40px;
            } 

            @media (max-width:700px) {
                margin-top: 0px;
                padding: 0px;
            }  

             @media (max-width:375px) {
                width: 100%;
            }


            .btn {
                @media (max-width:1230px) {
                    margin: 0px;
                    margin-bottom:5px;
                } 

                @media (max-width:1100px) {
                    padding: 10px 52px;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                } 

                @media (max-width:375px) {
                    padding: 10px 85px; 
                }

                
                @media (max-width:320px) {
                    padding: 10px 80px; 
                }
            }


            .btn_white {
                cursor: pointer;
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                text-align: center;
                border: none;
                padding: 17px 32px;
                border-radius: 50px;
                background-color: white;
                color:black;
                margin-left: 17px;
                transition: 0.3s;
                white-space:nowrap;
                border: 1px solid transparent;

                &:hover {
                    color: #F78434;
                    border: 1px solid orange;
                    border-radius: 50px;
                }

                img {
                    padding-right: 4px;
                }

                @media (max-width:1230px) {
                    margin: 0px;
                    margin-bottom:5px;
                } 

                @media (max-width:1100px) {
                    padding: 10px 41px;
                } 

                @media (max-width:900px) {
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                } 

                @media (max-width:375px) {
                    padding: 10px 75px; 
                }

                
                @media (max-width:320px) {
                    padding: 10px 73px; 
                }

            }
            
        }
    }

}

.section_grey {
    width: 100%;
    height: 704px;
    background-color: #F5F6FA;
    display: flex;
    justify-content: center;
    margin-bottom: -182px;
    
    .container {
        text-align: center;
    }

    h2 {
        font-size: 42px;
        font-family: "Poppins-Regular";
        font-weight: 700;
        letter-spacing: 0.8px; 
        color: black;
        padding-top: 152px;
        margin: 0px;

        @media (max-width:320px) {
            font-size: 28px;;
        }
  
        @media (max-width:1100px) {
            width: 100%;
            padding-top: 20px;
        }
    }

    p {
        font-size: 16px;
        font-family: "Poppins-Regular";
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 1.15px;
        color:black;
        margin: 0px;
        padding-top: 9px;
    }
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containers {
    width: 100%;
    width: 77%;
    position: relative;
    z-index: 999;
    display: flex;
    margin-bottom: 112px ;

    @media (max-width:690px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }  
    
    .box_bayers {
        width: 50%;
        height: 365px;
        display: flex;
        justify-content: start;

        @media (max-width:690px) {
            width: 80%;
            margin-bottom: 20px;
            justify-content: center;
        }  

        @media (max-width:430px) {
            width: 100%;
        }  
       
        .bayer {
            width: 97.2%;
            background-color: #F78434;
            border-radius: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            
            img {
                padding-top: 40px;
                margin: 0px;
                margin-bottom: 15px;
            }
            
            h2 {
                font-size: 42px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                letter-spacing: 0.8px; 
                color:white;
                margin: 0px;
                margin-bottom: -14px;

                @media (max-width:430px) {
                 font-size: 30px;
                }  
            }

            p {
                width: 65%;
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 1.15px;
                color:white;
                margin-bottom: 26px;

                @media (max-width:430px) {
                    font-size: 14px;
                }  
            }

            .btn_white {
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                text-align: center;
                border: none;
                padding: 17px 40px;
                border-radius: 50px;
                background-color: white;
                color:#F78434;
                cursor: pointer;
                transition: 0.3s;
                border:  1px solid transparent;

                &:hover {
                    color: #323232;
                    border: 1px solid orange;
                }
            }
        }
    }

    .box_seller {
        width: 50%;
        height: 365px;
        display: flex;
        justify-content: end;
        

        @media (max-width:690px) {
            width: 80%;
            margin-bottom: 20px;
            justify-content: center;
        }  

        @media (max-width:430px) {
            width: 100%;
        }  
        .seller {
            width: 97.2%;
            background-color: white;
            border-radius: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            border: 2px solid orange;

            img {
                padding-top: 40px;
                margin: 0px;
                margin-bottom: 15px;
            }
            
            h2 {
                font-size: 42px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                letter-spacing: 0.8px; 
                color:black;
                margin: 0px;
                margin-bottom: -14px;

                @media (max-width:430px) {
                    font-size: 30px;
                }  
            }

            p {
                width: 65%;
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 1.15px;
                color:black;
                margin-bottom: 26px;
                border-radius: 50px;

                @media (max-width:430px) {
                    font-size: 14px;
                }  
            }

            .btn_white {
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                text-align: center;
                padding: 17px 40px;
                border-radius: 50px;
                background-color: white;
                color:#F78434;
                border:  1px solid orange;

                &:hover {
                    color: #323232;
                }

                @media (max-width:690px) {
                   box-sizing: border-box;
                   border: 1px solid orange;
                    border-radius: 20px;
                    margin-bottom: 20px;
                }
            }
        }

    }
}

.section_why_choose {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 169px;

    
    @media (max-width:1400px) {
        margin-bottom: 80px;;
    }

    h2 {
        font-size: 42px;
        font-family: "Poppins-Regular";
        font-weight: 700;
        letter-spacing: 0.8px; 
        color:black;
        margin: 0px;
        margin-bottom: 57px;

        @media (max-width:320px) {
            font-size: 28px;;
        }
    }

    .wrappers {
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        @media (max-width:860px) {
            width:80%;
            justify-content: center;
        } 

    }

    .wrapper_box {
        text-align: center;
        width: 25%;
        

        @media (max-width:860px) {
            width:45%;
            margin-bottom: 20px;
        } 

        @media (max-width:530px) {
            width:75%;
            margin-bottom: 20px;
            border: 2px solid orange;
            border-radius: 20px;
        } 

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            img {
                margin-bottom: 19px;

                @media (max-width:530px) {
                    padding-top: 10px;
                } 
            }

            svg {
                margin-bottom: 19px; 

                @media (max-width:530px) {
                    padding-top: 10px;
                } 
            }
        

            h3 {
                font-size: 28px;
                font-family: "Poppins-Regular";
                font-weight: 700;
                line-height: 42px;
                letter-spacing: 0.5px;
                color: #323232;
                padding: 0px;
                margin: 0px;

                @media (max-width:1190px) {
                font-size: 20px;;
                } 
            
            }

            p {
                font-size: 16px;
                font-family: "Poppins-Regular";
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 1.15px;
                color:#323232;
                padding: 0px;
                margin: 0px;

                @media (max-width:1190px) {
                    font-size: 14px;;
                } 
            }

            .first{
                padding-left: 5px;
            }

            .second {
                padding-left: 7px; 
            }
        }
    }  
}

.section_thanks {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 57px;

    .box_thanks {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:592px) {
         flex-direction: column;
          text-align: center;
         justify-content: center;
        } 

        h2 {
            text-align: start;
            width: 60%;
            font-size: 42px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            letter-spacing: 0.8px; 
            color:#323232;
            margin: 0px;

            
            @media (max-width:768px) {
                font-size: 30px;;
              
            } 
            @media (max-width:592px) {
                width: 100%;;
                font-size: 25px;
                text-align: center;
                 
            } 
        }

        p {
            width: 40%;
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.15px;
            color:#323232;
            padding-left: 50px;

            @media (max-width:768px) {
                font-size: 14px;
                width: 100%;
                margin: 0px;
                padding: 0px;
              
            } 
        }
    }
}

.section_reviews {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 125px;

    .container_reviews {
        width: 80%;
    }

    .box_reviews {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;

        @media (max-width:320px) {
            width: 100%;
        }
    }

    .reviews {
        width: 90%;
        margin: 0px;
        
        img {
            width: 100%;
            margin-bottom: 12px;
            margin-left: 4%;
        }

        p {
            width: 80%;
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.15px;
            color:#323232;
            padding-left: 30px;

            @media (max-width:320px) {
                font-size: 12px;
                margin: 0px;
            }
        }

        h4 {
            font-size: 18px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.1px;
            color:#323232;
            padding: 0px;
            padding-left: 30px;
            margin-bottom: 0px;

            @media (max-width:320px) {
                font-size: 16px;
                padding: 0px;
                margin: 0px;
            }
        }

        .name {
            width: 80%;
            font-size: 18px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            padding-left: 30px;
            color: #58BEBF;
            transition: 0.3s;

            &:hover {
                color: #F78434;
            }
        }
    }
}

.section_exert {
    position: relative;
    width: 100%;
    background: url(/img/Bglast.png);
    display: flex;
    justify-content: center;
    align-items: center;
   

    .girl {
        position: absolute;
        bottom: 0px;
        right:266px;

        @media (max-width:1410px) {
            width: 40%;
            bottom: 0px;
            right:150px;
        } 
   
        @media (max-width:1049px) {
            width: 30%;
            bottom: 0px;
            right:50px;
        } 

        @media (max-width:450px) {
           right: 0px;
           } 
        
    }

    .expert {
        width: 80%;
        display: flex;
        flex-direction: column;
        height: 100%;
    
        .expert_box {
            width: 30%;
            padding-left: 22px;
            padding-top: 109px;

            
            @media (max-width:1410px) {
             width: 50%;
            }  

            @media (max-width:621px) {
                width: 60%;
               } 

               @media (max-width:450px) {
                width: 80%;
               } 
        }
        
        .btn_whites {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            text-align: center;
            border: none;
            padding: 17px 41px;
            border-radius: 50px;
            background-color: white;
            color:#323232;
            transition: 0.3s;
            margin-bottom: 40px;

            &:hover {
                color:#F78434;
            }

            @media (max-width:768px) {
                padding: 10px 31px;
            } 

              @media (max-width:621px) {
                font-size: 12px;;
            } 
        }

        h2 {
            text-align: start;
            font-size: 42px;
            font-family: "Poppins-Regular";
            font-weight: 700;
            letter-spacing: 0.8px; 
            color:white;
            margin: 0px;

            @media (max-width:868px) {
             font-size: 30px;
            } 

            @media (max-width:621px) {
                font-size: 24px;
               } 
           }
        

         P {
            font-size: 16px;
            font-family: "Poppins-Regular";
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 1.07px;
            color:white;
            margin-bottom: 29px;

            @media (max-width:768px) {
              font-size: 14px;
            } 
         }
    }
}
